<nav class="flex justify-center col-start-3 col-end-4">
  <ul class="flex gap-10 list-none">
    <li class="list-none"><a href="/" class="no-underline text-last text-2xl hover:underline font-bold">Home</a></li>
    <li class="list-none"><a href="/items" class="no-underline text-last text-2xl hover:underline font-bold">Items</a></li>
    <li class="list-none"><a href="/categories" class="no-underline text-last text-2xl hover:underline font-bold">Categories</a></li>
  </ul>
</nav>