<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not found!</title>
  <link rel="stylesheet" href="/styles/output.css">
</head>
<body class="h-[100svh] flex justify-center items-center">
  <main class="bg-secondary p-10 flex flex-col gap-2 rounded-lg items-center">
    <% if (locals.errCode) { %>
      <p class="text-[150px] text-last m-0"><%= errCode %></p>
    <% } else { %>
      <p class="text-[150px] text-last m-0">404</p>
    <% } %>

    <% if (locals.message) { %>
     <p class="text-lg text-last"><%= message %></p>
    <% } else { %>
    <p class="text-lg text-last">It seems like you are lost!</p>
    <% } %>
    <a href="/" class="p-2 border bg-last rounded-md no-underline text-primary">Return home</a>
  </main>
</body>
</html>