<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <div>
    <main class="flex flex-col w-[650px]">
      <div class="flex justify-between">
        <form action="/items/search" method="get">
          <input type="search" name="search" id="search">
          <button type="submit">Search</button>
        </form>
        <%- include('errors/error') %>
        <div>
          <button>Add Item</button>
          <button>Sort by</button>
        </div>
      </div>
      <%- include('itemsTable') %>
    </main>
    <%- include('partials/nav') %>
  </div>
</body>
</html>