<ul class="p-0"></ul>
  <% if (locals.categoryNameErrors) { %>
    <% categoryNameErrors.forEach(error => { %>
      <li class="list-none text-red-500"><%= error.msg %></li>
      <% }) %>
   <% } %>
</ul>