@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serifs;
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@theme {
  --color-primary: #1a120b;
  --color-secondary: #3c2a21;
  --color-tertiary: #d5cea3;
  --color-last: #e5e5cb;
  --breakpoint-lg: 67rem;
  --breakpoint-slg: 40rem;
  --breakpoint-md: 21rem;
}
